<!doctype html>
<html>
<head> <meta charset="utf-8"> Past Project </head>
<body>
	<h1>
		Cadastre-se já !
	</h1>
	<br>


			<form method="post" action="/salva">
			<br>
			<input type="text" name="nick" min="1" placeholder="Nick" autofocus>
			<br>
			<input type="password" name="senha" placeholder="Senha" required>
			<br>
		
			<input type = "text" name ="email" placeholder="E-mail">
	
			<br>
			
			<input type="submit" value="Cadastrar">
			
			
		</form>

</body bgcolor = "#000000">
</html>