<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link href = "estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
<center>

	<h1>
		Cadastrar pergunta
	</h1>	
	

	
	<!-- isto é um comentário HTML   -->
	<form method="post" action="/salvarPergunta">
		<input type="text" name="pergunta"
			min="1" placeholder="Pergunta"
			autofocus required>
		<br>
		<input type="text" name="op1"
			placeholder="Opção1" required>
		<br>
		<input type="text" name="op2"
			placeholder="Opção2" required>
		<br>
		<input type="text" name="op3"
			placeholder="Opção3" required>
		<br>
		<input type="text" name="op4"
			placeholder="Opção4" required>
		<br>
		<input type="text" name="op5"
			placeholder="Opção5" required>
		<br>
		<input type="text" name="certa"
			placeholder="Resposta certa" required>
		<br>
		
	
		<input type="submit" value="Cadastrar">
	</form>
</center>	
<a href="/lista">Lista de usuarios</a>
<br>
<a href="/listapergunta">Lista de perguntas</a>
</body>
</html>
