<!doctype html>
<html>
<head> <meta charset="utf-8"> 
<link href = "estilohome.css" rel="stylesheet" type="text/css">

</head>
<body>
<center>
<br>
<br>
<br>
<br>
<br>
<br>
	<h1>
	Past Project
	</h1>
	<form method="post" action="/loga"> 
	<input type="text" name="nick" placeholder="Nick" required>
		<br>
		<input type="password" name="senha" placeholder="Senha" required>
		<br>
	    <input type="image" src="botão.jpg" value="Logar" alt="deixa o botão muito loko" height="45" width="95"/> 
	</form>
	
	<br>
		<a href="/cadastro"> Clique aqui para se cadastrar </a>
	<br>
		<a href="/lista"> Clique aqui para exibir usuarios cadastrados</a>		
	<br>
		<a href="/editar"> Clique para editar seu Cadastro </a>
	<br>
		<a href="/cadastroperguntas"> Registro de perguntas </a>
		</center>
		<embed src="Hello.MP3" height="0" width="0" autostart ="true"></embed>

</audio>
</body>

</html>
