<!doctype html>
<html>
<head> <meta charset="utf-8"> 
<link href = "estilohome.css" rel="stylesheet" type="text/css">

</head>
<body>
<div align = "center">
<div id="barrinha">
<ul>
<li> <a href="/cadastro">  cadastrar </a> </li>
<li> <a href="/sobre">  Sobre </a> </li>
<li> <a href="/editar"> editar seu Cadastro </a> </li>
<li> <a href="/cadastroperguntas"> Registro de perguntas </a> </li>
</ul>
</div> 
</div>
<center>
<br>
<br>
<br>
<br>
<br>
<br>
	<h1>
	Past Project
	</h1>
	<form method="post" action="/loga"> 
	<input type="text" name="nick" placeholder="Nick" required>
		<br>
		<br>
		<input type="password" name="senha" placeholder="Senha" required>
		<br>
	    <input type="image" src="confirma.png" value="Logar" alt="muda a imagem do botão" height="105" width="155" /> 
	</form>
	
	<br>
		
	<br>
				
	<br>
		
	<br>
		
		</center>
		<embed src="Hello.MP3" height="0" width="0" autostart ="true"></embed>

</audio>
</body>

</html>
