<!doctype html>
<html>
<head> <meta charset="utf-8"> Past Project </head>
<style>
body {
    background-color:  #000000;
    color:yellow;
}
</style>
<body>
	<h1>
	<center>Past Project</center>
	</h1>
	<center>	<form method="post" action="/loga"> </center>
	<center>	<input type="text" name="nick" placeholder="Nick" required></center>
		<br>
		<center> <input type="password" name="senha" placeholder="Senha" required></center>
		<br>
		<center> <input type="submit" value="Logar"> </center>
	</form>
	
	<br>
		<a href="/cadastro"> Clique aqui para se cadastrar </a>
	<br>
		<a href="/lista"> Clique aqui para exibir usuarios cadastrados</a>		
	<br>
		<a href="/editar"> Clique para editar seu Cadastro </a>
	<br>
		<a href="/cadastroperguntas"> Registro de perguntas </a>
</body>
</html>
