<!doctype html>
<html>
<head> <meta charset="utf-8">  </head>
<link href="http://localhost:4567/estiloerro.css" rel="stylesheet" type="text/css">
<body>
	<h1>Past Project</h1>
	
	<h3>Esta é a hitória de Galo Cego</h3>	
	<h3>Galo Cego era um amante de História e era conhecido por saber tudo sobre ela.</h3>
	<h3>Certo dia quando está voltando para casa dois homens o abordaram e</h3>
	<h3>o levaram para um carro, colocaram um saco em sua cabeça e partiram para um lugar desconhecido.</h3>
	<h3>Quando chegaram no lugar os homens o disseram que eram do passado e por algum motivo</h3>
	<h3>inexplicável estavam naquela época a algum tempo e para voltarem para sua época teriam que</h3>
	<h3>responder perguntas sobre o passado, a cada pergunta acertada poderiam retroceder um certo tempo.</h3>
	<h3>E então por livre e espontânea pressão ele resolveu ajudá-los.</h3>
	
	<a href="/pergunta/0">Ir para a primeira pergunta</a>
</body>
</html>
	