<!doctype html>
<html>
<head> <meta charset="utf-8"> 
<link href = "estilolista.css" rel="stylesheet" type="text/css">
</head>
<body>
<center>
	<h1>
		Listagem Perguntas
	</h1>
	
	<table>
		<thread>
			<tr>
				<th>Pergunta</th>
				<th>Opção1</th>
				<th>Opção2</th>
				<th>Opção3</th>
				<th>Opção4</th>
				<th>Opção5</th>
				<th>RespostaCerta</th>
				<th>Codigo</th>

			</tr>
		</thread>
	<tbody>
	{{#perguntas}}
	<tr>
		<td><center>{{pergunta}}</center></td>
		<td><center>{{resposta1}}</center></td>
		<td><center>{{resposta2}}</center></td>
		<td><center>{{resposta3}}</center></td>
		<td><center>{{resposta4}}</center></td>
		<td><center>{{resposta5}}</center></td>
		<td><center>{{respostacerta}}</center></td>
		<td><center>{{codigo}}</center></td>
		<td>
		<a href="/exclui/{{codigo}}">Excluir</a>

		</td>
	</tr>
	{{/perguntas}}
	</tbody>
	</table>
<a href="/cadastropergunta"> Voltar </a>
</center>
</body>
</html>